# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/

# Kubernetes secret files
*.key
*.crt
secrets/

# tools
tools/